.card-container {
  width: 300px;
  margin-top: 5%;
  padding: 1%;
  transform: scale(1);
  box-shadow: 0px 0px 15px -5px;
}

.image-container img {
  overflow: hidden;
  height: 200px;
  width: 265px;
  margin: 2px;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}